.post {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postPrfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.postUserName {
  font-size: 15px;
  margin: 0 10px;
  font-weight: 500;
}
.postDate {
  font-size: 12px;
}

.postImg {
  width: 100%;
  margin-top: 20px;
  max-height: 500px; /* in case huge imge is uploaded */
  object-fit: contain; /* to see all image without ant crop so not using cover here */
}

.postCenter {
  margin: 20px 0;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}
.likeIcon {
  margin-left: 3px;
  cursor: pointer;
}

.postCommentText {
  margin-left: 5px;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed blue;
  font-size: 15px;
}

.commentBox {
  border-top: 2px dashed grey;

  width: 100%;
  height: 200px;
}
.actualComment {
  display: flex;
  align-items: center;
}
.UserCommentImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.UserComment {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 300;
  border: 2px solid black;
}
.commentBoxWrapper {
  padding: 5px;
}
.NewCommentBox {
  align-self: center;
  width: 90%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.newCommentBoxArea {
  height: 40px;
  width: 100%;
}
.commentButton {
  border: none;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  height: 20px;
  width: 40px;
  border-radius: 5px;
}
